%h1
  Вы находитесь:
  %span Предложения
#tender
  %ul.tender_items
    %li
      %span.name.bold пользователь
      %span.summ.bold предложенная сумма
    - @proposes.each do |propose|
      %li
        %span.name= propose.user
        %span.summ= number_to_currency(propose.summ, precision:2, delimiter:' ', separator:",", unit:'руб.', format:"%n %u")
        - if @tender.winner && @tender.winner.propose == propose
          %span [победитель]
        - elsif @tender.user == current_user && @tender.status < 3 && @tender.tender_type.is_name?(:review) == false
          = link_to 'победитель', set_winner_tender_propose_path([@tender], propose)