- 7.times do
	.news
		%h2 &laquo;Новостной блок&raquo;
		%p= truncate('Показывает первые 200 символов каждой новости, а также ссылку подробнее, ведущую на страницу детализации новостей с атрибутом ID, равным ID новости со ссылкой. Количество отображаемых новостей выставляется равным количеству новостей', length: 200, ommission: '...')
		= link_to 'подробнее', '#'