%h1
  Вы находитесь:
  %span Тендеры
#tender
  %p.title
    %span.type-sale Продажа
    %span.start Открыт с:
    %span.start-date.white 21.06.2012
    %span.end Активен до:
    %span.end-date.white 14.09.2013
    %span.info.white Статус:
    %span.blue Активен
    %span.type-tn.blue-bg Тендер
  %p.name
    Название
    %span.dark-blue.underlink Название тендера
  %p.about
    %strong Описание тендера:
    ﻿Заполнять интересы по категориям тендеров пользователь может как при регистрации, так и в профиле. При выборе соответствующих категорий, данному пользователю 
  %p.about
    будут приходить уведомления на почтовый ящик о регистрации тендеров и аукционов по указанным тематикам, а также заявителям регистрирующим тендер или аукцион должно быть предложено пригласить участников, чьи категории интересов соответствуют категории регистрируемого тендера/аукциона. Заполнять интересы по категориям тендеров пользователь может как при регистрации, так и в профиле. При выборе соответствующих
  .left
    %p.about.unpadding
      %strong Приложенные файлы:
    %ol
      - 3.times do
        %li 
          Архив документов.rar 
          |
          = link_to 'Скачать файл', '#'
  .right
    .info
      Минимальная стоимость:
      %span.blue.big 158 000 руб.
    .info
      Тендер проводит:
      %span.blue.underline Дмитрий Мельников
    .assign
      = link_to 'Участвовать', '#'   
      .parts  
        %span Заявок подано:
        %span.count 45   
  %p
  %p.about
    %strong Комментарии:
    ﻿Заполнять интересы по категориям тендеров пользователь может как при регистрации, так и в профиле. При выборе соответствующих категорий, данному пользователю
  %p.about
  .edit
    = link_to 'Оставить комментарий', '#'