@import 'bootstrap';
@import 'compass/reset';
@import 'compass/css3/border-radius';
* { margin:0; padding:0; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
body { background-color:#eaf9ff; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
#header { 
	background:url(top_bg.png) top left repeat-x; 
	margin-left:15px;
	margin-right:15px;
	min-height:55px; 

	#logo { 
		margin: 0; 
		padding: 0; 
		height: 35px; 
		width: 170px; 
		display: inline-block; 
		img { 
			margin: 16px 0 0 12px; 
			border:none; 
		}
	}

	input[type="email"], input[type="password"] {
		background-image: url(login_bg.png);
		border:none;
		width:142px;
		height:26px;
		padding:0;
		padding-left:16px;
		
		&:focus {
			border:none;
			outline-offset:0;
			outline-color:-webkit-focus-ring-color;
			outline-style:auto;outline-width:0;
		}
	}

	input:-webkit-autofill { background-color: #fff !important; }

	input[type="submit"] {
		background-image: url(but_sign_bg.png); 
		background-color:none; 
		width:66px;height:28px;
		padding:0;border:none;
		
		&:active {
			border: none;
			font-weight:bold;
		}
	}

	.field_with_errors {
		display: inline;
		margin: 0;
	}

}
#header-left { background:url(top_left_bg.png) top left no-repeat;  }
#header-right { background:url(top_right_bg.png) top right no-repeat;  }

#header input[type="email"], input[type="password"] { margin-top:18px; margin-right:3px; }
#header input[type="submit"] { margin:16px; }
.sign { float:right; }
a.sign { text-decoration:none; margin-top:25px; color:#000; font-size:11px; font-weight:bold; margin-right:5px; }

#header form { display: inline; margin: 0; padding: 0; }

#menu { 
	background:url(menu_bg.png) top left repeat-x; 
	margin-left:37px;
	margin-right:33px;
	min-height:33px; 
	}
#menu-left { background:url(menu_left_bg.png) top left no-repeat;  }
#menu-right { background:url(menu_right_bg.png) top right no-repeat;  }
#menu-list { background:url(menu.png) top left no-repeat; width:644px; height:33px; margin:0 auto; padding:0; line-height:30px; }
#menu-list a { text-decoration:none; color:#fff; }
#menu-list a:hover { color:#c8e8ff; }
#menu-list ul { margin-left: 0; padding-left: 0;	display: inline; }
#menu-list ul li {
	margin-left: 0;
	padding: 5px 23px;
	list-style: none;
	display: inline;
	white-space:nowrap;
	overflow:hidden;
	font-size: 15px;
	}
//a#new_tender { margin-left: 20px;}
//a#tenders { margin-left: 38px;}
//a#user { margin-left: 40px;}
a#about { padding-right:0;}

#content-left { background:url(content_left_bg.png) top left repeat-y;  }
#content-right { background:url(content_right_bg.png) top right repeat-y;  }

$content_width: 966px;

#content { 
	background:url(content_bg.png); 
	margin-left:49px;
	margin-right:25px;
	min-height:500px;   
	padding-top: 10px;
	padding-bottom: 10px;

	#content_body {
		margin: 0 auto;
		width: $content_width;
		h1 {
			background:url(title_bg.png) top left repeat; 
			display: block;
			@include border-radius(7px, 7px); 
			padding: 6px 20px;
			color: #e0e1e2;
			font-size: 13px;
			border-bottom: solid #707980 1px;
			border-right: solid #707980 1px;
			margin-bottom: 9px;
			span { color: #fff; }
		}		
	}

	ul#tabs { 
		margin-top: 20px;
		margin-left: 0; 
		padding-left: 0;	
		display: block; 

		li {
			@include border-top-radius(7px); 
			border-top: solid #6c6e73 1px;
			margin-right: 5px;
			//padding: 13px 36px;
			padding-top: 13px;
			text-align: center;
			float: left;
			width: 180px;
			height: 25px;
			list-style: none;
			display: block;
			font-size: 13px;
			background: #585a5f;
			a { color: #a8a8a8; }

			&.active { 
				border: none;
				background: #e5e5e5; 
				height: 30px;
				a { color: #515151 }
			}

			a:hover {
				text-decoration: none;
				//color: #fff;
			}
		}
	}
	
	$tab-content-padding: 14px;
	$tab-content-width: ($content_width - $tab-content-padding * 2);
	$tab-content-menu-width: 90px;
	$tab-content-panel-width: ($tab-content-width - $tab-content-menu-width - 4px);

	.tab-content {
		@include border-bottom-radius(7px); 
		@include border-top-right-radius(7px); 
		width: $tab-content-width;
		min-height: 100px;
		display: block;
		background: #e5e5e5; 
		padding: $tab-content-padding;

		.tab-content-menu {
			float: left;
			width: $tab-content-menu-width;
			a {
				width: $tab-content-menu-width;
				height: 53px;
				display: block;
				text-align: center;
				padding-top: 15px;
				&.active {
					//background:url(tab_content_menu_bg.png) top left no-repeat !important;
					background: #fff;
					@include box-shadow(#bebebe 0 2px 0);
					@include border-left-radius(4px); 
				}
			}
		}
		.tab-content-panel {
			//float: left;
			//@include border-right-radius(7px);
			//@include border-bottom-left-radius(7px);
			margin-left: $tab-content-menu-width;
			width: $tab-content-panel-width;
			min-height: 200px;
			background: #fff;
			@include box-shadow(#bebebe 2px 2px 1px);

			.person-info {
			    width: 400px;
			    height: 250px;
			    float: left;
			}
			label {
				text-align: right;
				color:#404040;
				font-size: 13px;
				display: block;
				width:150px;
				float:left;
				padding: 8px 10px 0 0;
			}
			input {
				@include border-radius(0);
				margin: 5px 0 0 0;
				padding: 1px;
				color:#404040;
				font-size: 13px;
				display: block;
				width:200px;
				float:left;
				border: solid #000 1px;
			}

			.user_photo {
				//margin-top: 50px;
				padding-top: 5px;
				margin-left: 410px;
				width: 400px;
				height: 250px;
				img {
					display: block;
					float: left;
					width: 100px;
					height: 100px;
				}

				.user_photo_info {
					
					margin-left: 115px;
					
					strong {
						display: block;				
						font-weight: bold;
						font-size: 14px;
						margin-bottom: 10px;
					}				
					
					span {font-size: 12px;}
					
					span#file_name {
						float: left;
						display: block;
						background: #fff;
						color: #000;
						padding: 3px 10px;
						width: 210px;
						height: 14px;
						overflow: hidden;
					}

					#photo_btn {
						margin-left: 240px;
						background:url(photo_btn.png) top left no-repeat; 
						width: 87px;
						height: 23px;
						border: none; 
						cursor: pointer;
						color: #000;
						padding-top: 5px;
						text-align: center;
						font-size: 12px;
						&:hover { color: #fff; }
					}
				}
			}
		}
	}
}

#footer-left { background:url(footer_left_bg.png) top left no-repeat;  }
#footer-right { background:url(footer_right_bg.png) top right no-repeat;  }
#footer { 
	background:url(footer_bg.png); 
	margin-left:38px;
	margin-right:38px;
	min-height:123px;   }
#footer #text { padding-top:13px; margin: 0; width: 100%; } 
#footer #text #footer-menu { 
	@include border-radius(7px, 7px); 
	width: 100%;
	height:14px;
	background-color:#c5d0d9;
	text-align:center;
	} 
#footer #text #footer-menu ul li {
	font-size:11px;
	margin: 0;
	//padding: 5px 20px;
	list-style: none;
	display: inline;
	white-space:nowrap;
	overflow:hidden;
	}
#footer #text #footer-menu ul {
	margin: 0;
	padding: 0;
	line-height: 13px;
}
#footer #text #footer-menu ul li a {
	color: #000;
	text-decoration: none;
	padding: 0 5px;
}

.block_left_top { background: url(news_left_top_bg.png) top left no-repeat; }
.block_top { background: url(news_top_bg.png) top left repeat-x; margin: 0 6px; }
.block_right_top { background: url(news_left_top_bg.png) top right no-repeat; transform:rotate(90deg); }
.block {
	margin: 6px;
	background: url(news_bg.png);
}
.block_content { 
	margin-left: -10px;
	margin-right: 13px;
	@include border-radius(6px, 6px);
	border: solid #fff 2px;
	background: url(news_bg.png);
	text-align: center;

	h2 { font-size: 16px; color: #4d6477; font-weight: bold; }
}

$color_error: darken(#6b8da6, 40%);
$bg_error: lighten(#6b8da6, 30%);
$color_light: #49525b;

#register {
	form {
		color: #e6edeb;
		font-size: 14px;

		span.big { font-size: 16px; padding: 0 5px; }

		fieldset.left_side {
			width: 470px;
			float: left;			
		}

		fieldset.right_side {
			width: 470px;	
			//margin-left: 72px; 
			float: right;		
		}

		legend {
			color: #fff;
			background:url(title_bg.png) top left repeat; 
			display: block;
			width: 430px;
			@include border-radius(7px, 7px); 
			padding: 6px 20px;
			font-size: 13px;
			border-bottom: solid #707980 1px;
			border-right: solid #707980 1px;
		}
		label {
			width: 150px;
			display: inline-block;
			text-align: right;
			padding: 0 10px;
			font-weight: 20%;
			line-height:  16px;
		}
		input {
			width: 224px;
			border: none;
			background: #fff;
			height: 19px;
			margin: 0 0 8px 2px;
			padding: 0 10px;
			@include border-radius(0);

			&:focus {
				border:none;
				outline-offset:0;
				outline-color:-webkit-focus-ring-color;
				outline-style:auto;outline-width:0;
			}
		}

		#signup {
			background:url(signup_btn.png) top left no-repeat; 
			width: 154px;
			height: 23px;
			border: none; 
			cursor: pointer;
			color: #000;
			text-align: center;
			font-size: 12px;
			margin-left: 20px;
			&:hover { color: #fff; }
		}
		
		input[type="checkbox"] { 
			width: 20px; 
			margin-top: 2px;
			background: none;
		}

		.user_photo {
			margin-top: 20px;
			img {
				display: block;
				float: left;
				width: 100px;
				height: 100px;
			}

			.user_photo_info {
				
				margin-left: 115px;
				
				strong {
					display: block;				
					font-weight: bold;
					font-size: 14px;
					margin-bottom: 10px;
				}				
				
				span {font-size: 12px;}
				
				span#file_name {
					float: left;
					display: block;
					background: #fff;
					color: #000;
					padding: 3px 10px;
					width: 210px;
					height: 14px;
					overflow: hidden;
				}

				#photo_btn {
					margin-left: 240px;
					background:url(photo_btn.png) top left no-repeat; 
					width: 87px;
					height: 23px;
					border: none; 
					cursor: pointer;
					color: #000;
					padding-top: 5px;
					text-align: center;
					font-size: 12px;
					&:hover { color: #fff; }
				}
			}
		}

		p.accept {
			@include border-radius(7px, 7px); 
			background: #fff;
			color: #000;
			font-size: 13px;
			line-height: 18px;
			padding: 10px;
			margin-top: 20px;			
		}

		.signup_accept {
			float: right;
			margin-top: 30px;
			span#check_accept {
				padding-left: 20px;
				cursor: pointer;
				background:url(check_false_bg.png) center left no-repeat; 
			}
		}
		
		input:-webkit-autofill { background-color: #fff !important; }

		.field_with_errors {
			display: inline-block;
			margin: 0;
			input { 
				border: solid $color_error 2px; 
				margin-left: 0;
				background: $bg_error;
			}
		}

		#error_explanation {
			width: 444px;
			padding-left: 60px;
			text-align: left;
			color: $color_error;
			
			h2 { font-size: 16px; font-weight: bold; }
			ul { list-style: disc; }
		}
	}
}