@import 'bootstrap';
@import 'compass/reset';
@import 'compass/css3/border-radius';
* { margin:0; padding:0; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
body { background-color:#eaf9ff; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
#header { 
	background:url(top_bg.png) top left repeat-x; 
	margin-left:15px;
	margin-right:15px;
	min-height:55px; 

	#logo { 
		margin: 0; 
		padding: 0; 
		height: 35px; 
		width: 170px; 
		display: inline-block; 
		img { 
			margin: 16px 0 0 12px; 
			border:none; 
		}
	}

	input[type="email"], input[type="password"] {
		background-image: url(login_bg.png);
		border:none;
		width:142px;
		height:26px;
		padding:0;
		padding-left:16px;
		
		&:focus {
			border:none;
			outline-offset:0;
			outline-color:-webkit-focus-ring-color;
			outline-style:auto;outline-width:0;
		}
	}

	input:-webkit-autofill { background-color: #fff !important; }

	input[type="submit"] {
		background-image: url(but_sign_bg.png); 
		background-color:none; 
		width:66px;height:28px;
		padding:0;border:none;
		
		&:active {
			border: none;
			font-weight:bold;
		}
	}

	.field_with_errors {
		display: inline;
		margin: 0;
	}

}
#header-left { background:url(top_left_bg.png) top left no-repeat;  }
#header-right { background:url(top_right_bg.png) top right no-repeat;  }

#header input[type="email"], input[type="password"] { margin-top:18px; margin-right:3px; }
#header input[type="submit"] { margin:16px; }
.sign { float:right; }
a.sign { text-decoration:none; margin-top:25px; color:#000; font-size:11px; font-weight:bold; margin-right:5px; }

#header form { display: inline; margin: 0; padding: 0; }

#menu { 
	background:url(menu_bg.png) top left repeat-x; 
	margin-left:37px;
	margin-right:33px;
	min-height:33px; 
	}
#menu-left { background:url(menu_left_bg.png) top left no-repeat;  }
#menu-right { background:url(menu_right_bg.png) top right no-repeat;  }
#menu-list { background:url(menu.png) top left no-repeat; width:644px; height:33px; margin:0 auto; padding:0; line-height:30px; }
#menu-list a { text-decoration:none; color:#fff; }
#menu-list a:hover { color:#c8e8ff; }
#menu-list ul { margin-left: 0; padding-left: 0;	display: inline; }
#menu-list ul li {
	margin-left: 0;
	padding: 5px 23px;
	list-style: none;
	display: inline;
	white-space:nowrap;
	overflow:hidden;
	font-size: 15px;
	}
//a#new_tender { margin-left: 20px;}
//a#tenders { margin-left: 38px;}
//a#user { margin-left: 40px;}
a#about { padding-right:0;}

#content-left { background:url(content_left_bg.png) top left repeat-y;  }
#content-right { background:url(content_right_bg.png) top right repeat-y;  }

$content_width: 966px;
$color-link-hover: darken(#c8e8ff, 60%);

#content { 
	background:url(content_bg.png); 
	margin-left:49px;
	margin-right:25px;
	min-height:500px;   
	padding-top: 10px;
	padding-bottom: 10px;

	#content_body {
		margin: 0 auto;
		width: $content_width;
		h1 {
			background:url(title_bg.png) top left repeat; 
			display: block;
			@include border-radius(7px, 7px); 
			padding: 6px 20px;
			color: #e0e1e2;
			font-size: 13px;
			border-bottom: solid #707980 1px;
			border-right: solid #707980 1px;
			margin-bottom: 9px;
			span { color: #fff; }
		}	

		p.info {
			padding: 0 4px 10px;
			color: #fff;
			font-size: 13px;
			line-height: 18px;
		}

		.news {
			margin-bottom: 10px;
			padding: 7px;
			@include border-radius(7px, 7px); 
			background: #ddd;
			border: solid #fff 3px;
			h2 {
				color: #4d6477;
				font-size: 15px;
				font-weight: bold;
				padding-bottom: 5px;
			}
			p {
				color: #404040;
				font-size: 15px;

				&.multi { 
					font-size: 14px;
					padding: 5px 10px 5px; 
				}

				span.blue { color: #658fad; }
			}
			a {
				margin-left: 845px;
				margin-top: -5px;
				display: block;
				width: 98px;
				height: 16px;
				color: #364e61;
				font-size: 11px;
				padding: 2px 0 0 10px;
				font-weight: bold;
				background:url(more_btn.png) top left no-repeat; 

				&:hover {
					text-decoration: none;
					color: darken(#ddd, 40%);
				}
			}
		}

		.tenders {
			background:url(tenders_bg.png) top left no-repeat; 
			width: 964px;
			height: 115px;
			margin-bottom: 5px;

			.assign {
				float: right;
				width: 350px;
				height: 34px;
				margin-right: 10px;
				margin-top: -5px;
				.parts {
					margin-top: 6px;
					display: inline-block;
					float: right;
					background: #f6f7f9;
					padding: 2px 20px;
					@include border-left-radius(7px); 
					border-left: solid #c0c1c3 1px;
					border-top: solid #c0c1c3 1px;
					border-bottom: solid #c0c1c3 1px;

					span {
						font-size: 13px;
						color: #3c3f42;
						font-weight: bold;
						&.count { 
							font-size: 16px; 
							
						}
					}
				}

				a {
					background:url(assign_tender_btn.png) top left no-repeat; 
					width: 150px;
					height: 34px;
					display: block;
					float: right;
					text-align: center;
					color: #3c3f42;
					text-decoration: none;
					font-size: 15px;
					padding-top: 10px;

					&:hover { color: #fff; }
				}
			}

			p {
				padding: 7px 0 0 10px;
				&.title {
					padding: 10px 0 0 20px;
				}

				&.main-info {
					line-height: 18px;
				}

				&.info {
					line-height: 18px;
					width: 50%;
					float: left;
				}

				span {
					font-size: 13px;
					color: #d6d6d6;
					display: inline-block;

					&.white { color: #fff; }
					&.type-sale { width: 100px; }
					&.start { width: 60px; }
					&.start-date { padding-left: 10px; width: 110px; }
					&.end { width: 75px; }
					&.end-date { padding-left: 10px; width: 100px; }
					//&.info { width: 50px; }
					&.type-tn { 
						float: right; 
						margin-right: 9px;
						margin-top: -2px;
						height: 22px;
						padding: 0 15px;
						@include border-right-radius(6px); 
						line-height: 22px;

						&.blue-bg { background: #5a8895; }
						&.green-bg { background: #64a73f; }
						&.red-bg { background: #632d12; }
					}

					&.bold { font-weight: bold; }
					&.name {
						color: #000;
						padding-left: 22px;
						background:url(info_tender_bg.png) top left no-repeat !important;  
					}
					&.name-content { 
						color: #305362; 
						text-decoration: underline;
					}
					&.important {
						color: #000;
						padding-left: 22px;
						background:url(important_tender_bg.png) top left no-repeat !important;  
					}
					&.important-content { 
						color: #305362; 
						font-size: 18px;
					}
					&.person {
						color: #000;
						padding-left: 22px;
						background:url(person_tender_bg.png) top left no-repeat !important;  
					}
					&.person-content { 
						color: #305362; 
						text-decoration: underline;
					}

					a {
						color: #fff;
						text-decoration: underline;

						&:hover {
							color: #d6d6d6;
						}
					}						
				}
			}			
		}

		.content-text {
			@include border-radius(7px, 7px); 
			background: #fff;
			color: #272727;
			padding: 10px;

			p { 
				font-size: 14px; 
				line-height: 20px;
			}
		}
		
	}

	ul#tabs { 
		margin-top: 20px;
		margin-left: 0; 
		padding-left: 0;	
		display: block; 

		li {
			@include border-top-radius(7px); 
			border-top: solid #6c6e73 1px;
			margin-right: 5px;
			//padding: 13px 36px;
			padding-top: 13px;
			text-align: center;
			float: left;
			width: 180px;
			height: 25px;
			list-style: none;
			display: block;
			font-size: 13px;
			background: #585a5f;
			a { color: #a8a8a8; }

			&.active { 
				border: none;
				background: #e5e5e5; 
				height: 30px;
				a { color: #515151 }
			}

			a:hover {
				text-decoration: none;
				//color: #fff;
			}
		}
	}
	
	$tab-content-padding: 14px;
	$tab-content-width: ($content_width - $tab-content-padding * 2);
	$tab-content-menu-width: 90px;
	$tab-content-panel-width: ($tab-content-width - $tab-content-menu-width - 4px);

	.tab-content {
		
		#actual-tender {
			background: url(point_bg.png) center left no-repeat;
			padding-left: 10px;
			padding-top: 3px;
			display: inline-block;
			width: 150px;
			height: 20px;
			color: #fff;
			font-size: 13px;
			//font-weight: bold;
			margin: 4px 0 2px 8px;
			&:hover {
				text-decoration: none;
				color: $color-link-hover;
			}
		}
		
		strong.title {
			padding-left: 20px;
			display: inline-block;
			width: 400px;
			height: 20px;
			color: #040404;
			font-size: 13px;
			font-weight: bold;
			margin: 6px 0 2px 6px;
		}

		ul#pagination {
			display: block;
			height: 18px;
			background: #c6cbd0;
			@include border-radius(7px);
			margin: 30px 5px 0;
			text-align: center;
			li {
				list-style: none;
				display: inline;
				color: #3c3f42;
				font-size: 12px;
				font-weight: bold;
			}
		}

		.my_tenders {
			padding-left: 6px;
			margin-left: 5px;
			width: 833px;
			height: 87px;
			margin-bottom: 5px;
			background: url(my_tenders_bg2.png) top left no-repeat;	
			
			p {
				padding: 7px 0 0 10px;
				&.title {
					padding: 9px 0 0 20px;
				}

				&.main-info {
					line-height: 18px;
				}

				&.info {
					line-height: 18px;
					width: 50%;
					float: left;
				}

				span {
					font-size: 13px;
					color: #d6d6d6;
					display: inline-block;

					&.white { color: #fff; }
					&.type-sale { width: 100px; }
					&.start { width: 60px; }
					&.start-date { padding-left: 10px; width: 100px; }
					&.end { width: 75px; }
					&.end-date { padding-left: 10px; width: 100px; }
					&.bold { font-weight: bold; }
					&.type-tn { 
						float: right; 
						margin-right: 11px;
						margin-top: -1px;
						height: 21px;
						padding: 0 5px;
						@include border-right-radius(6px); 
						line-height: 22px;

						&.blue-bg { background: #5a8895; }
						&.green-bg { background: #64a73f; }
						&.red-bg { background: #632d12; }
					}

					&.bold { font-weight: bold; }
					&.name {
						color: #000;
						padding-left: 22px;
						background:url(info_tender_bg.png) top left no-repeat !important;  
					}
					&.name-content { 
						color: #305362; 
						text-decoration: underline;
					}
					&.important {
						color: #000;
						padding-left: 22px;
						background:url(important_tender_bg.png) top left no-repeat !important;  
					}
					&.important-content { 
						color: #305362; 
						font-size: 18px;
					}
					&.person {
						color: #000;
						padding-left: 22px;
						background:url(person_tender_bg.png) top left no-repeat !important;  
					}
					&.person-content { 
						color: #305362; 
						text-decoration: underline;
					}

					a {
						color: #fff;
						text-decoration: underline;

						&:hover {
							color: #d6d6d6;
						}
					}						
				}
			}
			.edit {
				float: right;
				width: 212px;
				height: 21px;
				margin-right: 12px;
				margin-top: 10px;
				a {
					background:url(edit_tender_btn.png) top left no-repeat; 
					width: 212px;
					height: 21px;
					display: block;
					float: right;
					text-align: center;
					color: #3c3f42;
					text-decoration: none;
					font-size: 11px;
					padding-top: 5px;
					font-weight: bold;

					&:hover { color: #fff; }
				}
			}	
		}

		.parts {
			padding-left: 6px;
			margin-left: 5px;
			width: 834px;
			height: 73px;
			background: url(parts_bg.png) top left no-repeat;	
			p {
				padding-top: 3px;
				span {
					display: inline-block;
					font-size: 13px;
					color: #404040;
					&.blue { color: #638dac; }
					&.red { color: #8a0e0e; }
					&.bold { font-weight: bold; }
					&.offset-type { margin-left: 40px; }
					&.offset-status { margin-left: 21px; }
					&.offset-name { margin-left: 41px; }
					&.offset-info { margin-left: 22px; }
				}						
			}
		}

		@include border-bottom-radius(7px); 
		@include border-top-right-radius(7px); 
		width: $tab-content-width;
		min-height: 100px;
		display: block;
		background: #e5e5e5; 
		padding: $tab-content-padding;

		.tab-content-menu {
			float: left;
			width: $tab-content-menu-width;
			a {
				width: $tab-content-menu-width;
				height: 53px;
				display: block;
				text-align: center;
				padding-top: 15px;
				&.active {
					//background:url(tab_content_menu_bg.png) top left no-repeat !important;
					background: #555f68;
					&.white { background: #fff; }
					@include box-shadow(#bebebe 0 2px 0);
					@include border-left-radius(4px); 
				}
			}
		}
		.tab-content-panel {
			#save-btn {
				margin-left: 290px;
				margin-top: 125px;
				background:url(save_btn_bg.png) top left no-repeat;
				width: 155px;
				height: 24px;
				display: block;
				color: #000;
				font-size: 12px;
				padding-top: 5px;
				text-align: center;

				&:hover {
					text-decoration:none;
					color: #fff;
				}
			}

			padding-bottom: 8px;

			//float: left;
			//@include border-right-radius(7px);
			//@include border-bottom-left-radius(7px);
			margin-left: $tab-content-menu-width;
			width: $tab-content-panel-width;
			min-height: 200px;
			background: #555f68;
			&.white { background: #fff; }
			@include box-shadow(#bebebe 2px 2px 1px);

			.person-info {
			    width: 380px;
			    height: 250px;
			    float: left;
			}
			label {
				text-align: right;
				color:#404040;
				font-size: 13px;
				display: block;
				width:150px;
				float:left;
				padding: 8px 10px 0 0;
			}
			input {
				@include border-radius(0);
				margin: 5px 0 0 0;
				padding: 1px;
				color:#404040;
				font-size: 13px;
				display: block;
				width:200px;
				float:left;
				border: solid #000 1px;
			}

			.person-photo {
				padding-top: 5px;
				margin-left: 380px;
				width: 450px;
				height: 250px;
			}

			.user_photo {
				width: 100px;
				float: left;
				text-align: center;
				img {
					display: block;
					float: left;
					width: 100px;
					height: 100px;
					margin-bottom: 5px;
				}

				strong.big {
					font-size: 12px;
					color: #040404;					
				}
			}
			.user_photo_info {					
				margin-left: 115px;
				
				strong {
					display: block;				
					font-weight: bold;
					font-size: 14px;
					margin-bottom: 5px;
				}				
				
				span {font-size: 11px; margin: 0;}
				
				span#file_name {
					border: solid #000 1px; 
					float: left;
					display: block;
					background: #fff;
					color: #000;
					padding: 3px 10px;
					width: 210px;
					height: 14px;
					overflow: hidden;
				}

				#photo_btn {
					margin-left: 240px;
					background:url(photo_btn.png) top left no-repeat; 
					width: 87px;
					height: 23px;
					border: none; 
					cursor: pointer;
					color: #000;
					padding-top: 5px;
					text-align: center;
					font-size: 12px;
					&:hover { color: #fff; }
				}

				#del-photo-btn {
					margin-top: 8px;
					display: block;
					font-size: 12px;
					color: #000;
					width: 100px;
					height: 15px;
					padding-left: 20px;
					line-height: 15px;
					background:url(del_btn.png) center left no-repeat;

					&:hover { 
						text-decoration: none; 
						color: $color-link-hover;
					}
				}
			}
		}
	}
}

#footer-left { background:url(footer_left_bg.png) top left no-repeat;  }
#footer-right { background:url(footer_right_bg.png) top right no-repeat;  }
#footer { 
	background:url(footer_bg.png); 
	margin-left:38px;
	margin-right:38px;
	min-height:123px;   }
#footer #text { padding-top:13px; margin: 0; width: 100%; } 
#footer #text #footer-menu { 
	@include border-radius(7px, 7px); 
	width: 100%;
	height:14px;
	background-color:#c5d0d9;
	text-align:center;
	} 
#footer #text #footer-menu ul li {
	font-size:11px;
	margin: 0;
	//padding: 5px 20px;
	list-style: none;
	display: inline;
	white-space:nowrap;
	overflow:hidden;
	}
#footer #text #footer-menu ul {
	margin: 0;
	padding: 0;
	line-height: 13px;
}
#footer #text #footer-menu ul li a {
	color: #000;
	text-decoration: none;
	padding: 0 5px;
}

.block_left_top { background: url(news_left_top_bg.png) top left no-repeat; }
.block_top { background: url(news_top_bg.png) top left repeat-x; margin: 0 6px; }
.block_right_top { background: url(news_left_top_bg.png) top right no-repeat; transform:rotate(90deg); }
.block {
	margin: 6px;
	background: url(news_bg.png);
}
.block_content { 
	margin-left: -10px;
	margin-right: 13px;
	@include border-radius(6px, 6px);
	border: solid #fff 2px;
	background: url(news_bg.png);
	text-align: center;

	h2 { font-size: 16px; color: #4d6477; font-weight: bold; }
}

$color_error: darken(#6b8da6, 40%);
$bg_error: lighten(#6b8da6, 30%);
$color_light: #49525b;

#register {
	form {
		color: #e6edeb;
		font-size: 14px;

		span.big { font-size: 16px; padding: 0 5px; }

		fieldset.left_side {
			width: 470px;
			float: left;			
		}

		fieldset.right_side {
			width: 470px;	
			//margin-left: 72px; 
			float: right;		
		}

		legend {
			color: #fff;
			background:url(title_bg.png) top left repeat; 
			display: block;
			width: 430px;
			@include border-radius(7px, 7px); 
			padding: 6px 20px;
			font-size: 13px;
			border-bottom: solid #707980 1px;
			border-right: solid #707980 1px;
		}
		label {
			width: 150px;
			display: inline-block;
			text-align: right;
			padding: 0 10px;
			font-weight: 20%;
			line-height:  16px;
		}
		input {
			width: 224px;
			border: none;
			background: #fff;
			height: 19px;
			margin: 0 0 8px 2px;
			padding: 0 10px;
			@include border-radius(0);

			&:focus {
				border:none;
				outline-offset:0;
				outline-color:-webkit-focus-ring-color;
				outline-style:auto;outline-width:0;
			}
		}

		#signup {
			background:url(signup_btn.png) top left no-repeat; 
			width: 154px;
			height: 23px;
			border: none; 
			cursor: pointer;
			color: #000;
			text-align: center;
			font-size: 12px;
			margin-left: 20px;
			&:hover { color: #fff; }
		}
		
		input[type="checkbox"] { 
			width: 20px; 
			margin-top: 2px;
			background: none;
		}

		.user_photo {
			margin-top: 20px;
			img {
				display: block;
				float: left;
				width: 100px;
				height: 100px;
			}

			.user_photo_info {
				
				margin-left: 115px;
				
				strong {
					display: block;				
					font-weight: bold;
					font-size: 14px;
					margin-bottom: 10px;
				}				
				
				span {font-size: 12px;}
				
				span#file_name {
					float: left;
					display: block;
					background: #fff;
					color: #000;
					padding: 3px 10px;
					width: 210px;
					height: 14px;
					overflow: hidden;
				}

				#photo_btn {
					margin-left: 240px;
					background:url(photo_btn.png) top left no-repeat; 
					width: 87px;
					height: 23px;
					border: none; 
					cursor: pointer;
					color: #000;
					padding-top: 5px;
					text-align: center;
					font-size: 12px;
					&:hover { color: #fff; }
				}
			}
		}

		p.accept {
			@include border-radius(7px, 7px); 
			background: #fff;
			color: #000;
			font-size: 13px;
			line-height: 18px;
			padding: 10px;
			margin-top: 20px;			
		}

		.signup_accept {
			float: right;
			margin-top: 30px;
			span#check_accept {
				padding-left: 20px;
				cursor: pointer;
				background:url(check_false_bg.png) center left no-repeat; 
			}
		}
		
		input:-webkit-autofill { background-color: #fff !important; }

		.field_with_errors {
			display: inline-block;
			margin: 0;
			input { 
				border: solid $color_error 2px; 
				margin-left: 0;
				background: $bg_error;
			}
		}

		#error_explanation {
			width: 444px;
			padding-left: 60px;
			text-align: left;
			color: $color_error;
			
			h2 { font-size: 16px; font-weight: bold; }
			ul { list-style: disc; }
		}
	}
}

#tender_form {
	form {
		color: #e6edeb;
		font-size: 14px;

		span.big { font-size: 16px; padding: 0 5px; }

		fieldset.left_side {
			width: 470px;
			float: left;			
		}

		fieldset.right_side {
			width: 470px;	
			//margin-left: 72px; 
			float: right;		
		}

		p.description {
			margin-top: 40px;
			color: #d2d2d2;
			font-size: 12px;
		}

		.more {
			float:left;
			width: 800px;
		}

		legend {
			color: #fff;
			background:url(title_bg.png) top left repeat; 
			display: block;
			width: 430px;
			@include border-radius(7px, 7px); 
			padding: 6px 20px;
			font-size: 13px;
			border-bottom: solid #707980 1px;
			border-right: solid #707980 1px;
		}
		label {
			width: 200px;
			display: inline-block;
			text-align: right;
			padding: 0 10px;
			font-weight: 20%;
			line-height:  16px;

			&.file {
				text-align: right;
			}
		}
		input {
			width: 224px;
			border: none;
			background: #fff;
			height: 19px;
			margin: 0 0 8px 2px;
			padding: 0 10px;
			@include border-radius(0);

			&:focus {
				border:none;
				outline-offset:0;
				outline-color:-webkit-focus-ring-color;
				outline-style:auto;outline-width:0;
			}

			&.date-picker {
				width: 110px;
				padding-right: 30px;
				background: #fff url(date_picker_bg.png) center right no-repeat;
			}
		}
		
		textarea {
			width: 358px;
			border: none;
			background: #fff;
			height: 66px;
			margin: 0 0 8px 2px;
			padding: 0 10px;
			@include border-radius(0);

			&:focus {
				border:none;
				outline-offset:0;
				outline-color:-webkit-focus-ring-color;
				outline-style:auto;outline-width:0;
			}
		}

		#signup {
			background:url(signup_btn.png) top left no-repeat; 
			width: 154px;
			height: 23px;
			border: none; 
			cursor: pointer;
			color: #000;
			text-align: center;
			font-size: 12px;
			margin-left: 20px;
			&:hover { color: #fff; }
		}
		
		input[type="checkbox"] { 
			width: 20px; 
			margin-top: 2px;
			background: none;
		}

		.user_photo {
			margin-top: 8px;
			img {
				display: block;
				float: left;
				width: 100px;
				height: 100px;
			}

			.user_photo_info {
				
				margin-left: 70px;
				
				strong {
					display: block;				
					font-weight: bold;
					font-size: 14px;
					margin-bottom: 10px;
				}				
				
				span {font-size: 10px;}
				
				span#file_name {
					float: left;
					display: block;
					background: #fff;
					color: #000;
					padding: 3px 10px;
					width: 210px;
					height: 14px;
					overflow: hidden;
				}

				#photo_btn {
					display: inline-block;
					margin-left: 8px;
					margin-right: 8px;
					padding: 0;
					background:url(photo_btn.png) top left no-repeat; 
					width: 87px;
					height: 23px;
					border: none; 
					cursor: pointer;
					color: #000;
					padding-top: 5px;
					text-align: center;
					font-size: 12px;
					&:hover { color: #fff; }
				}
				#add_file_btn {
					display: inline-block;
					background:url(add_file_btn.png) top left no-repeat; 
					width: 23px;
					height: 23px;
					border: none; 
					cursor: pointer;
					color: #000;
					padding-top: 5px;
					text-align: center;
					font-size: 12px;
					&:hover { color: #fff; }
				}
			}
		}

		.controlls {
			width: 330px;
			float: right;
			button, #button-back {
				background:url(tender_form_btn.png) top left no-repeat; 
				color: #3c3f42;
				line-height: 26px;
				text-decoration: none;
				text-align: center;
				display: inline-block;
				width: 152px;
				height: 27px;
				border: none;
				float: left;
				margin: 10px 5px 0;
				&:hover {
					color: #fff;
				}
			}
		}

		p.accept {
			@include border-radius(7px, 7px); 
			background: #fff;
			color: #000;
			font-size: 13px;
			line-height: 18px;
			padding: 10px;
			margin-top: 20px;			
		}

		.signup_accept {
			float: right;
			margin-top: 30px;
			span#check_accept {
				padding-left: 20px;
				cursor: pointer;
				background:url(check_false_bg.png) center left no-repeat; 
			}
		}
		
		input:-webkit-autofill { background-color: #fff !important; }

		.field_with_errors {
			display: inline-block;
			margin: 0;
			input { 
				border: solid $color_error 2px; 
				margin-left: 0;
				background: $bg_error;
			}
		}

		#error_explanation {
			width: 444px;
			padding-left: 60px;
			text-align: left;
			color: $color_error;
			
			h2 { font-size: 16px; font-weight: bold; }
			ul { list-style: disc; }
		}
	}
}
.clear { clear:both; }